<div class="container d-flex justify-content-center  mt-2">
    <div class="bg-danger text-white col-md-5 d-flex justify-content-around align-items-center">
        <h2>Error al Logear Usuario</h2>
        <div class="text-left">
            <button class="btn btn-success my-3" onclick="location.href = '/login'">Volver</button>
        </div>
    </div>
</div>
