<div class="container d-flex justify-content-center ">
    <div class="col-md-6 flex-row d-flex  justify-content-around bg-success m-3 p-3">
    <h2 class="text-white">Bienvenido <span>{{data.username}}</span> </h2>
    <button class="btn btn-danger" onclick="location.href='/logout'">Logout</button>
    </div>
</div>